In [379]:
import os
import pandas as pd
import re
import requests 
import json
import os
from dotenv import load_dotenv #conda install -c conda-forge python-dotenv
import numpy as np
import time

import sys
sys.path.append("../")

## 1. Load Data

We'll use the `ls` command first. In order to run it from jupyter notebook, you will need to include an exclamation mark in the beginning. You should get a print of all the files in there

In [380]:
file_path = "/Users/mairagutierrez/Documents/Ironhack/PROJECTS/project--II/data/michelin_my_maps.csv"

In [381]:
data = pd.read_csv(file_path)
data.head(3)

,Name,Address,Location,Price,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices,Description
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...","Taipei, Taiwan",$$$$,Cantonese,121.516960,25.049071,8.862218e+11,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/p/pdc_tw/pa...,3 Stars MICHELIN,"Air conditioning,American Express credit card,...","After the departure of the Macanese chef, the ..."
1,Taïrroir,"6F, 299 Lequn 3rd Road, Zhongshan District, Ta...","Taipei, Taiwan",$$$$,Taiwanese contemporary,121.559303,25.082896,8.862850e+11,https://guide.michelin.com/en/taipei-region/ta...,https://www.tairroir.com/,3 Stars MICHELIN,"Air conditioning,American Express credit card,...","A portmanteau of Taiwan and terroir, Taïrroir ..."
2,JL Studio,"2F, 689, Section 4, Yifeng Road, Nantun Distri...","Taichung, Taiwan",$$$$,"Singaporean, Contemporary",120.628520,24.150486,8.864238e+11,https://guide.michelin.com/en/taichung-region/...,https://jlstudiotw.com/,3 Stars MICHELIN,"Air conditioning,American Express credit card,...","JL stands for Jimmy Lim, a Singaporean chef wh..."

In [385]:
# Function to standardize columns
data.columns = [i.lower().replace(" ", "-")   for i in data.columns]
data.columns

Index(['name', 'address', 'location', 'price', 'cuisine', 'longitude',
       'latitude', 'phonenumber', 'url', 'websiteurl', 'award',
       'facilitiesandservices', 'description'],
      dtype='object')

## 2. Data Exploration

In [386]:
#Initial Data Shape & Columns
data_shape = data.shape
column_names = data.columns

print(" Data Shape:", data_shape,('\n\n\n'),"Column Names",('\n\n'), column_names)

 Data Shape: (6992, 13)


 Column Names

 Index(['name', 'address', 'location', 'price', 'cuisine', 'longitude',
       'latitude', 'phonenumber', 'url', 'websiteurl', 'award',
       'facilitiesandservices', 'description'],
      dtype='object')

In [387]:
data_type = data.dtypes
data_type

name                      object
address                   object
location                  object
price                     object
cuisine                   object
longitude                float64
latitude                 float64
phonenumber              float64
url                       object
websiteurl                object
award                     object
facilitiesandservices     object
description               object
dtype: object

In [388]:
row_description = data.describe(include= 'object')
row_description

,name,address,location,price,cuisine,url,websiteurl,award,facilitiesandservices,description
count,6992,6992,6992,6945,6992,6992,5687,6992,6946,6981
unique,6850,6864,2707,31,956,6992,5561,5,1510,6981
top,Adler,"8 avenue Dutuit, Paris, 75008, France","Tokyo, Japan",€€,Modern Cuisine,https://guide.michelin.com/en/taipei-region/ta...,https://leigarden.hk/,Bib Gourmand,"Air conditioning,American Express credit card,...","After the departure of the Macanese chef, the ..."
freq,4,3,414,1381,973,1,5,3410,310,1

## 3. Identify Missing Values

In [389]:
missing_values = data.isnull().sum()
missing_values_percent = (missing_values / len(data))*100
missing_values_df = pd.DataFrame({'Missing Values':missing_values,'Percentage(%)':missing_values_percent})

missing_values_df.sort_values(by='Percentage(%)',ascending=False)

                       Missing Values  Percentage(%)
websiteurl                       1305      18.664188
phonenumber                       159       2.274027
price                              47       0.672197
facilitiesandservices              46       0.657895
description                        11       0.157323
name                                0       0.000000
address                             0       0.000000
location                            0       0.000000
cuisine                             0       0.000000
longitude                           0       0.000000
latitude                            0       0.000000
url                                 0       0.000000
award                               0       0.000000

## 3.1 Name

In [390]:
# 1) Removing spaces at the beginning and the end of the word
data['name'] = data['name'].str.lower().str.strip().str.replace(' +', ' ', regex=True)

## 3.2 Address

In [391]:
# 1) Removing spaces at the beginning and the end of the word
data['address'] = data['address'].str.lower().str.strip().str.replace(' +', ' ', regex=True)

In [392]:
# Update the function to extract postal codes, allowing for spaces and special characters
def extract_postal_code_updated(address):
    # Find all comma-separated values in the address
    values = re.findall(r'([^,]+)', address)
    
    # If there are at least two comma-separated values, check the second to last value
    if len(values) >= 2:
        potential_postal_code = values[-2].strip()
        # Check if the potential postal code is a mix of numbers, letters, spaces, and/or special characters
        # and has no more than 10 characters
        if re.match(r'^[A-Za-z0-9\s-]{1,10}$', potential_postal_code):
            return potential_postal_code
    return None

# Apply the updated function to the "Address" column
data['postal_code'] = data['address'].apply(extract_postal_code_updated)

# Display the original address, previously extracted postal codes, and updated postal codes for the first few rows
data[['address', 'postal_code']].head(5)

                                             address postal_code
0  17f, palais de chine hotel, 3, section 1, chen...         103
1  6f, 299 lequn 3rd road, zhongshan district, ta...         104
2  2f, 689, section 4, yifeng road, nantun distri...         408
3       3127 fillmore st., san francisco, 94123, usa       94123
4      5200 grand del mar way, san diego, 92130, usa       92130

In [393]:
# Filter the dataset for entries where "Location" contains "São Paulo, Brazil"
sao_paulo_data = data[data['location'].str.contains("São Paulo, Brazil", na=False)]

# Display the relevant columns for entries from São Paulo, Brazil
sao_paulo_data[['address', 'postal_code', 'location']].head(3)

,address,postal_code,location
625,"rua barão de capanema 549, são paulo, 01411-01...",01411-011,"São Paulo, Brazil"
3436,"rua jacques félix 405, são paulo, 04509-900, b...",04509-900,"São Paulo, Brazil"
3437,"rua joaquim antunes 108, são paulo, 05415-000,...",05415-000,"São Paulo, Brazil"

## 3.3 Location

In [394]:
# 1) Removing spaces at the beginning and the end of the word
data['location'] = data['location'].str.lower().str.strip().str.replace(' +', ' ', regex=True)

In [395]:
# Split the "Location" column into "City" and "Country" based on the comma delimiter
location_split = data['location'].str.split(',', n=1, expand=True)

# Create the "City" column to store the first part of the split
data['city'] = location_split[0].str.strip()

# Create the "Country" column to store the second part of the split, if present
data['country'] = location_split[1].str.strip() if location_split.shape[1] > 1 else None

# Show the first few rows of the DataFrame to verify the new columns
data[['location', 'city', 'country']].head(60)

,location,city,country
0,"taipei, taiwan",taipei,taiwan
1,"taipei, taiwan",taipei,taiwan
2,"taichung, taiwan",taichung,taiwan
3,"san francisco, usa",san francisco,usa
4,"san diego, usa",san diego,usa
5,"san francisco, usa",san francisco,usa
6,"healdsburg, usa",healdsburg,usa
7,"san francisco, usa",san francisco,usa
8,"yountville, usa",yountville,usa
9,singapore,singapore,None
10,singapore,singapore,None
11,singapore,singapore,None
12,"copenhagen, denmark",copenhagen,denmark
13,"oslo, norway",oslo,norway
14,"stockholm, sweden",stockholm,sweden
15,"copenhagen, denmark",copenhagen,denmark
16,"hong kong, hong kong sar china",hong kong,hong kong sar china
17,"hong kong, hong kong sar china",hong kong,hong kong sar china
18,"hong kong, hong kong sar china",hong kong,hong kong sar china
19,"hong kong, hong kong sar china",hong kong,hong kong sar china
20,macau,macau,None
21,hong kong,hong kong,None
22,macau,macau,None
23,hong kong,hong kong,None
24,macau,macau,None
25,hong kong,hong kong,None
26,"zwolle, netherlands",zwolle,netherlands
27,"kruiningen, netherlands",kruiningen,netherlands
28,"munich, germany",munich,germany
29,"baiersbronn, germany",baiersbronn,germany
30,"baiersbronn, germany",baiersbronn,germany
31,"berlin, germany",berlin,germany
32,"wolfsburg, germany",wolfsburg,germany
33,"dreis, germany",dreis,germany
34,"piesport, germany",piesport,germany
35,"perl, germany",perl,germany
36,"hamburg, germany",hamburg,germany
37,"london, united kingdom",london,united kingdom
38,"cartmel, united kingdom",cartmel,united kingdom
39,"london, united kingdom",london,united kingdom
40,"london, united kingdom",london,united kingdom
41,"bray, united kingdom",bray,united kingdom
42,"london, united kingdom",london,united kingdom
43,"london, united kingdom",london,united kingdom
44,"bray, united kingdom",bray,united kingdom
45,"roeselare, belgium",roeselare,belgium
46,"antwerpen, belgium",antwerpen,belgium
47,"kruishoutem, belgium",kruishoutem,belgium
48,"saint-tropez, france",saint-tropez,france
49,"saint-martin-de-belleville, france",saint-martin-de-belleville,france
50,"paris, france",paris,france
51,"fontjoncouse, france",fontjoncouse,france
52,"saint-bonnet-le-froid, france",saint-bonnet-le-froid,france
53,"reims, france",reims,france
54,"ouches, france",ouches,france
55,"annecy, france",annecy,france
56,"l'herbaudière, france",l'herbaudière,france
57,"cassis, france",cassis,france
58,"eugénie-les-bains, france",eugénie-les-bains,france
59,"paris, france",paris,france

In [396]:
uniq_val_country = data['country'].unique()
uniq_val_country

array(['taiwan', 'usa', None, 'denmark', 'norway', 'sweden',
       'hong kong sar china', 'netherlands', 'germany', 'united kingdom',
       'belgium', 'france', 'austria', 'china mainland', 'spain', 'japan',
       'italy', 'switzerland', 'south korea', 'hungary', 'finland',
       'estonia', 'ireland', 'luxembourg', 'thailand', 'portugal',
       'türkiye', 'greece', 'canada', 'slovenia', 'poland', 'brazil',
       'croatia', 'iceland', 'vietnam', 'malta', 'malaysia', 'andorra',
       'czech republic', 'serbia'], dtype=object)

In [397]:
# Filter the dataset for entries where the "Country" column is None
none_data = data[data['country'].isnull()]

# Display the relevant columns for entries with None in the "Country" column
none_data[['location', 'city', 'country']].head(3)

     location       city country
9   singapore  singapore    None
10  singapore  singapore    None
11  singapore  singapore    None

In [398]:
# Update "Country" column where "City" is "Singapore"
# Remove leading/trailing whitespace and convert to lowercase
data['city'] = data['city'].str.strip().str.lower()

# Update "Country" column based on "City" values
data.loc[data['city'] == 'singapore', 'country'] = 'singapore'
data.loc[data['city'].isin(['hong kong', 'macau']), 'country'] = 'china mainland'
data.loc[data['city'].isin(['abu dhabi', 'dubai']), 'country'] = 'united arab emirates'
data.loc[data['city'].isin(['luxembourg', 'luxembourg']), 'country'] = 'luxembourg'

# Display rows where "City" is one of the specified values
specified_cities = ['singapore', 'hong kong', 'macau', 'abu dhabi', 'dubai','luxembourg']
filtered_data = data[data['city'].isin(specified_cities)]
filtered_data[['city', 'country']]

           city               country
9     singapore             singapore
10    singapore             singapore
11    singapore             singapore
16    hong kong        china mainland
17    hong kong        china mainland
...         ...                   ...
5914  abu dhabi  united arab emirates
5915  abu dhabi  united arab emirates
6886      dubai  united arab emirates
6887      dubai  united arab emirates
6892  hong kong        china mainland

[348 rows x 2 columns]

In [399]:
uniq_val_upd_country = data['country'].unique()
uniq_val_upd_country

array(['taiwan', 'usa', 'singapore', 'denmark', 'norway', 'sweden',
       'china mainland', 'netherlands', 'germany', 'united kingdom',
       'belgium', 'france', 'austria', 'spain', 'japan', 'italy',
       'switzerland', 'south korea', 'hungary', 'finland', 'estonia',
       'united arab emirates', 'ireland', 'luxembourg', 'thailand',
       'portugal', 'türkiye', 'greece', 'canada', 'slovenia', 'poland',
       'brazil', 'croatia', 'iceland', 'vietnam', 'malta', 'malaysia',
       'andorra', 'czech republic', 'serbia'], dtype=object)

In [400]:
none_values_country = data['country'].isnull().sum()
print(none_values_country)

0

## 3.4 Price

In [401]:
# Filter the rows where the "Price" column is None
none_price_rows = data[data['price'].isnull()]

# Display the rows with None values in the "Price" column
print(none_price_rows[['name', 'city', 'country', 'price']].head(3))

       name            city country price
625  d.o.m.       são paulo  brazil   NaN
626  oteque  rio de janeiro  brazil   NaN
627     oro  rio de janeiro  brazil   NaN

In [402]:
data['price'].unique()

array(['$$$$', '€€€€', '$$$', '££££', '¥¥¥', '¥¥¥¥', '₩₩₩₩', '$$', '€€€',
       '¥¥', '฿฿฿฿', '₺₺₺₺', nan, '$', '€€', '₫₫', '₫₫₫₫', '£££', '££',
       '฿฿฿', '฿฿', '¥', '₩₩₩', '₺₺', '€', '₫', '£', '฿', '₩', '₩₩', '₺',
       '₺₺₺'], dtype=object)

In [403]:
# Remove spaces in the 'Price' column
data['price'] = data['price'].str.replace(" ", "", regex=False)

# Find the length of the longest value in the 'Price' column
max_len_price = data['price'].str.len().max()
max_len_price

4.0

In [409]:
data.iloc[626]

name                                                                oteque
address                  rua conde de irajá 581, rio de janeiro, 22271-...
location                                            rio de janeiro, brazil
price                                                                  NaN
cuisine                                                     Modern Cuisine
longitude                                                       -43.194424
latitude                                                         -22.95747
phonenumber                                                 552134865758.0
url                      https://guide.michelin.com/en/rio-de-janeiro-r...
websiteurl                                         https://www.oteque.com/
award                                                     2 Stars MICHELIN
facilitiesandservices    Air conditioning,American Express credit card,...
description              The surprises here begin at the entrance, sinc...
postal_code                                                      22271-020
city                                                        rio de janeiro
country                                                             brazil
price_convention                                                       NaN
Name: 626, dtype: object

In [413]:
# Update the price_convention column based on the length of the Price column
data['price_convention'] = data['price'].apply(lambda x: np.nan if pd.isna(x) else
                                           'inexpensive' if len(x) == 1 else
                                           'moderately' if len(x) == 2 else
                                           'expensive' if len(x) == 3 else
                                           'very expensive' if len(x) == 4 else 'unknown')

# Check if the update is successful, especially for the rows with NaN values in the Price column
#data[['price', 'price_convention']].head(10)
data.iloc[626]

name                                                                oteque
address                  rua conde de irajá 581, rio de janeiro, 22271-...
location                                            rio de janeiro, brazil
price                                                                  NaN
cuisine                                                     Modern Cuisine
longitude                                                       -43.194424
latitude                                                         -22.95747
phonenumber                                                 552134865758.0
url                      https://guide.michelin.com/en/rio-de-janeiro-r...
websiteurl                                         https://www.oteque.com/
award                                                     2 Stars MICHELIN
facilitiesandservices    Air conditioning,American Express credit card,...
description              The surprises here begin at the entrance, sinc...
postal_code                                                      22271-020
city                                                        rio de janeiro
country                                                             brazil
price_convention                                                       NaN
Name: 626, dtype: object

### API

In [133]:
#api_key = 'AIzaSyBCH83_5qOqFnbvT8ZFkUd7tEGJ36OFq_Q'
api_key = 'AIzaSyBCH83_5qOqFnbvT8ZFkUd7tEGJ36OFq_Q'
restaurant_name = 'abac'
url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={restaurant_name}&inputtype=textquery&fields=place_id,rating&key={api_key}'

response = requests.get(url)
data_api = response.json()

print(data_api)

{'candidates': [{'place_id': 'ChIJjZxWjQ-YpBIR_xbBOD9lZ1k', 'rating': 4.4}, {'place_id': 'ChIJq6ranI6ipBIRc-GCJKlyodM', 'rating': 0}], 'status': 'OK'}

In [416]:
api_key = 'AIzaSyBCH83_5qOqFnbvT8ZFkUd7tEGJ36OFq_Q'
restaurant_name = 'le palais'
location = 'Taipei, Taiwan'
address = '17F, Palais de Chine Hotel, 3, Section 1, Chengde Road'

query = f"{restaurant_name} {address} {location}"
url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={query}&inputtype=textquery&fields=place_id,rating&key={api_key}'

response = requests.get(url)
data_api = response.json()

print(data_api)

{'candidates': [{'place_id': 'ChIJu55KcW2pQjQRUKkzmvWDotA', 'rating': 4.4}], 'status': 'OK'}

In [418]:
api_key = 'AIzaSyBCH83_5qOqFnbvT8ZFkUd7tEGJ36OFq_Q'


def get_rating(restaurant_name, address, location):
    
    query = f"{restaurant_name} {address} {location}"
    url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={query}&inputtype=textquery&fields=place_id,rating&key={api_key}'

    response = requests.get(url)
    data_api = response.json()
    candidates = data_api['candidates']
    if len(candidates) != 1:
        print(f'Candidate length is not 1, is {len(candidates)}')
        raise Exception('Candidate lenght exception')
    
    first_result = candidates[0]
    rating = first_result['rating']
    return rating


restaurant_name = 'adler'
location = 'Lahr, Germany'
address = 'Reichenbacher Hauptstraße 18, Lahr, 77933, Germany'

rating = get_rating(restaurant_name, address, location)
print(data_api)

{'candidates': [{'place_id': 'ChIJw87e4dkukUcRX1CYzxaUu_0', 'rating': 4.7}], 'status': 'OK'}

In [419]:
print(rating)

4.7

In [422]:
sample_data = data.sample(10)
sample_data

,name,address,location,price,cuisine,longitude,latitude,phonenumber,url,websiteurl,award,facilitiesandservices,description,postal_code,city,country,price_convention
1033,wolfslaar,"wolfslaardreef 100, breda, 4834 sp, netherlands","breda, netherlands",€€€,Creative,4.803893,51.560721,3.176201e+10,https://guide.michelin.com/en/noord-brabant/br...,http://www.restaurantwolfslaar.com,1 Star MICHELIN,"American Express credit card,Car park,Credit c...",The Wolfslaar experience begins as soon as you...,4834 sp,breda,netherlands,expensive
5422,roti taew nam,"6 thep krasatti road, talad yai, phuket, 83000...","phuket, thailand",฿,Street Food,98.390885,7.885007,6.676210e+09,https://guide.michelin.com/en/phuket-region/ph...,NaN,Bib Gourmand,Cash only,The crispy roti at this communal breakfast spo...,83000,phuket,thailand,inexpensive
4308,kunz traditionelle,"kirchstraße 22, sankt wendel, 66606, germany","sankt wendel, germany",€€,"Meats and Grills, Regional Cuisine",7.112274,49.496018,4.968548e+09,https://guide.michelin.com/en/saarland/sankt-w...,https://www.restaurant-kunz.de/,Bib Gourmand,"American Express credit card,Car park,Credit c...","Event catering, two great restaurants, Alexand...",66606,sankt wendel,germany,moderately
3936,cuc gach quan,"10 dang tat, tan dinh, district 1, ho chi minh...","ho chi minh city, vietnam",₫₫,Vietnamese,106.689256,10.793030,8.428385e+11,https://guide.michelin.com/en/ho-chi-minh/ho-c...,http://www.cucgach.com.vn,Bib Gourmand,"Air conditioning,Credit card / Debit card acce...",The restaurant sports two dining rooms facing ...,None,ho chi minh city,vietnam,moderately
3140,onjium,"4f, 49 hyoja-ro, jongno-gu, seoul, south korea","seoul, south korea",₩₩₩₩,Korean,126.973450,37.580480,8.226952e+10,https://guide.michelin.com/en/seoul-capital-ar...,NaN,1 Star MICHELIN,"Air conditioning,American Express credit card,...",The elegant stonewalled-path of Gyeongbokgung ...,seoul,seoul,south korea,very expensive
1714,les tables de gaspard,"731 rue de la charrière (le village), saint-cr...","saint-crépin, france",€€,"Modern Cuisine, Market Cuisine",6.607849,44.706707,3.349225e+10,https://guide.michelin.com/en/provence-alpes-c...,http://www.lestablesdegaspard.com/,1 Star MICHELIN,"Credit card / Debit card accepted,Mastercard c...",An excellent time is to be had at this restaur...,05600,saint-crépin,france,moderately
3905,møf,"vesterport 10, aarhus, 8000, denmark","aarhus, denmark",€,Danish,10.199848,56.158257,4.561733e+09,https://guide.michelin.com/en/central-denmark/...,https://www.restaurantmoef.com/,Bib Gourmand,"Credit card / Debit card accepted,Mastercard c...",Ask for a seat at the counter to watch the you...,8000,aarhus,denmark,inexpensive
3373,yukashi,"643 mount pleasant rd., toronto, m4s 2m9, canada","toronto, canada",$$$$,Japanese,-79.388898,43.705022,1.416490e+10,https://guide.michelin.com/en/ontario/toronto/...,https://www.yukashitoronto.com/,1 Star MICHELIN,"Air conditioning,American Express credit card,...","Chef Daisuke Izutsu has cooked for royals, dig...",m4s 2m9,toronto,canada,very expensive
2311,sra bua by kiin kiin,"gf, siam kempinski hotel, 991/9 rama 1 road, p...","bangkok, thailand",฿฿฿,Thai contemporary,100.535210,13.748637,6.621629e+09,https://guide.michelin.com/en/bangkok-region/b...,https://www.kempinski.com/en/siam-hotel/restau...,1 Star MICHELIN,"Air conditioning,American Express credit card,...","Inspired by its sister restaurant, Copenhagen'...",10330,bangkok,thailand,expensive
2308,igniv,"gf, the st. regis, 159 ratchadamri road, lumph...","bangkok, thailand",฿฿฿฿,European Contemporary,100.540791,13.748340,6.622078e+09,https://guide.michelin.com/en/bangkok-region/b...,https://www.ignivbangkok.com,1 Star MICHELIN,"American Express credit card,Car park,China Un...","Igniv means “nest” in Romansh, the mother tong...",10330,bangkok,thailand,very expensive

In [455]:
for row in sample_data.iterrows():
    name = row['name']
    address = row['address']
    location = row['location']
    
    rating = get_rating(name, address, location)
    print(rating)
    
    # TODO: Store rating in dataframe

TypeError: tuple indices must be integers or slices, not str

In [453]:
len(sample_data)

10